body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.card, #stack, #stack-picked, #discard{
    border: white solid 1px;
    height: 130px;
    width: 85px;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 3rem;
    background-color: black;
    margin: 10px;
    padding-top: 1.5rem;

    /* text-shadow: white 0 0 1.5rem; */
}

.card:hover, #stack:hover, #stack-picked{
    cursor: pointer;
}

/* Colors of the numbers */
.red{
    /* background-color: red !important; */
    background: radial-gradient(#E3D1D8 10px, #E32C24);
}
.yellow{
    /* background-color: yellow !important; */
    background: radial-gradient(#F0EEE9 10px, #FDF026);
}
.green{
    /* background-color: green !important; */
    background: radial-gradient(#E8ECE3 10px, #67B23B);
}
.blue{
    /* background-color: skyblue !important; */
    background: radial-gradient(#D8DADF 10px,#3DBFE9);
}
.purple{
    /* background-color: #393D8F !important; */
    background: radial-gradient(#ECF1F8 10px, #393D8F) !important;
}

.selected-card{
    border: thick red solid !important;
}